.card {
  background-color: hsl(222, 47%, 11%);
  border-radius: 14px;
  width: 60%;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bree Serif';
}
.match-logo {
  width: 90px;
  height: 90px;
}
@media screen and (min-width: 768px) {
  .card {
    background-color: hsl(222, 47%, 11%);
    border-radius: 14px;
    width: 31%;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
  }
}

.team-name {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}
.result-display {
  font-size: 17px;
  font-weight: 100;
  text-align: center;
}
.color-lost {
  color: red;
  font-size: 20px;
}
.color-won {
  color: green;
  font-size: 20px;
}
.match-status {
  font-family: 'Roboto';
}
